@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 
* {
box-sizing: border-box;
}
 
body {
/* font-family: 'Roboto', sans-serif; */
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */
/* width: 100vw; */
width: 100%;
margin: 0;
padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100vh; */
    background-color: black;
    color: white;
    align-items: center;
}

.nav h1{
    margin-left: 1rem;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu ul li a{
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    cursor: pointer;
    color: rgb(12, 131, 131);
}
.container{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container img{
    width: 100%;
    height: 100vh;
    position:absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: -2;
}

.content{
    height: 90vh;
    /* border: 2px solid blue; */
    /* margin-top: 25vh; */
    width: 90vw;
    text-align: center;
    z-index: 6;
}
.opaque{
    height: 100vh;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.6);
    z-index: -1;
}
.content h1{
    font-size: 4rem;
    margin-top: 20%;
}

.content p{
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
}

.btn{
    margin-top: 1rem;
    padding: 1rem;
    /* width: 10%; */
    /* height: 3rem; */
    background-color: rgb(12, 131, 131);
    color: white;
    font-size: 1rem;
    border: none;
}

.color{
    color: aqua;
}

.row2{
    bottom: 0;
    margin-top: 80%;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.items{
    width: 30%;
}

.row3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: white;
    height: fit-content;
}

.row3 img{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.opaq{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.row3 h1{
    margin-top: 25%;
    font-size: 30px;
}

.row3-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1rem;
    margin-bottom: 4rem;
    /* margin: 1rem; */
    /* position: absolute; */
    /* right: 5%; */
    /* top: 5%; */
}

.row3-content button{
    width: 30%;
}

.row4{
    display: flex;
    width: 100%;
    background-image: url('11.png');
    height: 80vh;
    background-size:contain;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position-x: -100px;
}

.row4 h1{
    font-size: 3rem;
    color: rgb(47, 116, 116);
    margin-left: 50rem;
}

.row4 form input{
    height: 3rem;
    border: 8px solid rgb(47, 116, 116);
    width: 50%;
    margin: auto;
    /* margin-left: 50rem; */
    margin-bottom: 1rem;
}

.row4 button{
    width: 10rem;
    margin-left: 50rem;
    margin-top: -30px;
}

.form{
    height: 50%;
    width: 50%;
    margin-left: 50rem;
    font-size: 1.5rem;
}

footer{
    width: 100%;
    text-align: center;
    background-color: rgb(2, 73, 55);
    font-size: .5rem;
    color: white;
}

@media(max-width:700px){
    .nav{
        flex-direction: column;
    }
    .nav h1{
        margin: auto;
        margin-top: 5%;
    }
    .content{
        margin-top: 5%;
    }
    .content h1{
        margin-top: 10%;
    }
    .row2{
        flex-direction: column;
    }
    .items{
        margin: auto;
        width: 80%;
    }
    .row3-content{
        width: 80%;
    }
    .content h1{
        margin-top: 0vh;
    }
    .row4{
        height: 45vh;
        align-items: flex-end;
    }
    .row4 h1{
        margin: auto;
        margin-top: 0px;
        font-size: 2rem;
    }
    .form{
        /* margin: auto; */
        font-size: 1.2rem;
        margin: 0px;
    }
    .form{
        height: 50%;
        margin-top: 0px;
        width: 30%;
        /* font-size: 1rem; */
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }
    .form form input{
        border: 2px solid rgb(47, 116, 116);
        height: 1rem;
        margin-bottom: 0px;
        margin: 0px;
        width: 70%;
    }
    .form button{
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 1rem;
        width: 3rem;
    }
    .row4 h1{
        margin-bottom: 0px;
    }
    .row4 button{
        margin-bottom: 2vh;
        margin-right: 3rem;
        margin-left: 0px;
        margin-top: 0px;
        height: 1rem;
        padding: 0px;
        font-size: 0.5rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 3rem;
    }
}